.user-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%; /* Make it a circle */
  position: relative;
}

.user-image img {
  display: flex;
  width: 100%; /* Ensure the image fills the circle */
  height: 100%; /* Maintain aspect ratio */
  border-radius: 50%; /* Ensure the image inside the circle */
  object-fit: cover;
  text-align: center;
}

.upload-style .ant-upload-select {
  width: 100%!important;
  border: 0!important;
  padding: 0!important;
  height:auto!important;
  margin: 0!important;
}
