.background-pattern::before{
    content:'';
    /* background-image: url(/p4.jpg); */
    background-image: url(/p5.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.09;
    mix-blend-mode: multiply;
}