* {
  box-sizing: border-box;
  /* font-family: sans-serif, "system-ui"; */
  /* font-family: 'Inter Variable', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Space Grotesk Variable', sans-serif; */
  font-family: 'Outfit Variable', sans-serif;
}

.roboto-slab {
  font-family: 'Roboto Slab Variable', serif;
}

body {
  margin: 0
}

.custom-placeholder input::placeholder{
  color:grey
}