* {
  box-sizing: border-box;
  /* font-family: sans-serif, "system-ui"; */
  /* font-family: 'Inter Variable', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Space Grotesk Variable', sans-serif; */
  font-family: 'Outfit Variable', sans-serif;
}

.roboto-slab {
  font-family: 'Roboto Slab Variable', serif;
}

body {
  margin: 0
}

.custom-placeholder input::placeholder{
  color:grey
}

.clamp-3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.hover-underline:hover {
  text-decoration: underline;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}